<li>
  <div class="media media-right">
    <div class="media-body">
      <div class="comm-info">
        <span class="username"><%= link_to comment.nickname, profile_path(:id => comment.reply_user_id) %></span>
        <p class="meta">
          <span class="time"><%= time_ago_in_words comment.created_at %></span>
        </p>
      </div>
      <p class="comm">
        <%= emojify(comment.body) %>
      </p>
      <button id="<%= comment.id %>" type="button" class="reply">reply</button>
    </div> <!-- end of media-body -->
    <ul class="list-unstyled">
        <%= render partial: "comments/comment", collection: comment.get_child_comments %>
    </ul>
  </div> <!-- end of media -->
</li>
