<p id="notice"><%= notice %></p>

<p>Karma: <span><%= @karma %></span></p>

<% if user_signed_in? && @user_id != current_user.id %>
  <%= link_to 'Follow', follow_path(:id => @user_id), method: :post %>
<% end %>

<h1>Listing Posts</h1>

<table>
  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td>
          <a class="up_vote" post-id=<%= post.id %>>+</a>
          <%= post.rating %>
          <a class="down_vote" post-id=<%= post.id %>>-</a>
        </td>
        <td><%= link_to post.title, post %></td>
        <td><%= post.description %></td>
        <td><%= post.media %></td>
        <td>submited <span><%= post.old %></span> ago</td>
        <td><%= link_to post.count_comments, post %></td>
        <% if user_signed_in? && @user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<div>
  <h1>People you follow</h1>
  <ul>
    <% @followers.each do |follow| %>
        <%= link_to follow.nickname, profile_path(:id => follow.follow_id) %>
        <span><%= follow.count_new_posts current_user %></span>
    <% end %>
  </ul>
</div>

<br>