<p id="notice"><%= notice %></p>

<%= form_tag("/#{@filter}", method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <li><%= link_to 'Hot', filter_path(:filter => :hot)%></li>
  <li><%= link_to 'New', filter_path(:filter => :new)%></li>
</ul>

<h1>Listing Posts</h1>

<table>

  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td>
          <a class="up_vote" post-id=<%= post.id %>>+</a>
          <%= post.rating %>
          <a class="down_vote" post-id=<%= post.id %>>-</a>
        </td>
        <td><%= link_to post.title, post %></td>
        <td><%= post.description %></td>
        <td><%= post.media %></td>
        <td>submited <span><%= post.old %></span> ago</td>
        <td><%= link_to post.count_comments, post %></td>
      </tr>

  <% end %>
  </tbody>
</table>