<p id="notice"><%= notice %></p>

<% if @category != nil%>
    <a <%= @category.is_subscribed(current_user) ? "" : "hidden" %> id="unsubscribe" category-id=<%= @category.id %> >Unsubscribe</a>
    <a <%= @category.is_subscribed(current_user) ? "hidden" : "" %> id="subscribe" category-id=<%= @category.id %> >Subscribe</a>
<% end %>


<%= form_tag("#{@category.name}/#{@filter}", method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <li><%= link_to 'Hot', @category==nil ? filter_path(:filter => :hot) : category_filter_path(:category => @category.slug, :filter => :hot)%></li>
  <li><%= link_to 'New', @category==nil ? filter_path(:filter => :new) : category_filter_path(:category => @category.slug, :filter => :new)%></li>
</ul>

<h1>Listing Posts</h1>

<table>

  <tbody>
  <%= render @posts %>
  </tbody>
</table>

<div id="infinite-scrolling">
  <%= will_paginate @posts%>
</div>