<div class="main-content">
  <div class="new-post col-md-6">
    <%= bootstrap_form_for (@post) do |f| %>
        <%= f.text_field :title%>
        <%= f.text_area :description%>
        <%= f.text_field :media%>
        <%= f.collection_select :category_id, @categories[1..@categories.count], :id, :name, {:include_blank => false}, {:class => 'form-control'} %>
        <%= f.submit 'Submit', class: 'btn btn-primary btn-lg pull-right' %>
    <% end %>
  </div>
</div>
