<li>
  <article class="row clearfix">
    <div class="vote pull-left">
      <span <%= post.user_vote(current_user) == 1 ? "vote_type = 1": "" %> class="glyphicon glyphicon-arrow-up vote-up" post-id=<%= post.id %>></span>
      <span class="vote-number"><%= post.rating %></span>
      <span <%= post.user_vote(current_user) == -1 ? "vote_type = -1" : "" %> class="glyphicon glyphicon-arrow-down vote-down" post-id=<%= post.id %>></span>
    </div>
    <div class="col-md-1 article-img">
      <img src="<%= post.thumbnail %>" alt="post image">
    </div>
    <div class="article-info col-md-9">
      <h5 class="title"><%= link_to post.title, post %></h5>
      <a href="<%= post.media %>" target="_blank" class="website-link"><%= post.media %></a>
      <p><%= post.description[0..100] %> <%= link_to '[...]', post %></p>
      <p class="meta">submitted <span><%= time_ago_in_words post.created_at %></span> by <span><%= link_to post.user.nickname, profile_path(:id => post.user.id) %></span></p>
      <div class="actions">
        <%= link_to post.count_comments, post %>
        <a href="#" class="action-share">share</a>
      </div>
    </div>
  </article>
</li>
